node_modules
.next

tests
cypress

.husky
.vscode
.idea
.DS_Store
*.log

.git
.gitignore

.prettierrc*
.eslint*
tsconfig.*.json
vitest.config.ts
cypress.config.ts
docker-compose.yml

*.md
.env.example